* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared style  */
.d-flex {
  display: flex;
}
.dark2 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}
.btn-primary {
  background: #ff900e;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
main {
  max-width: 1440px;
  margin: 0px auto;
}
/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px;
}
/* nav style */
.navbar,
.banner {
  max-width: 1470px;
  margin: 0px auto;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-right: 35px;
  font-weight: 500;
  font-size: 18px;
}
/* Banner style */

.banner-content {
  max-width: 868px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-details {
  line-height: 26px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.banner-img {
  width: 100%;
}

/* Team section style */
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 73px;
  margin-top: 85px;
  margin-bottom: 130px;
}
.team img {
  width: 100%;
  height: 100%;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature {
  max-width: 500px;
}
.feature-title-quick {
  font-size: 3rem;
  font: 500;
}
.feature-title-our {
  font-size: 3rem;
  font: bold;
}
.feature-title-feature {
  font-size: 3rem;
  font: bold;
  color: #ff900e;
}
.feature-details {
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 32px;
}
/* Responsive Header */
@media screen and (max-width: 576px) {
  .brand {
    font-size: 1.7rem;
  }
  .navbar,
  .nav-links,
  .team {
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-content {
    text-align: left;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .team {
    row-gap: 20px;
  }
  .img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img {
    width: 114% !important;
    padding: 0px 20px;
  }
  .feature {
    max-width: 500px;
    margin-left: 20px;
  }
}
/* Responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team {
    flex-direction: column;
  }
  .feature {
    margin-left: -220px;
  }
}
